body  * {
    margin: 0;
    padding: 0;
}

.nav {
    font-size: 100px;
    width: 20px;
}
.nav p {
   width: 700px;
}

.datos {
    display: contents;
    text-align: left;
}

.Section-one {

    display: flex;
    width: 100vw;
    margin: 1px;
    justify-content: left;
}
.Section-one img {
        justify-content: left;
        padding-top:10px;
        margin-left: 0px;
    }

.Section-one .text {
        width: 45%;
        font-size: 30px;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        padding-left: 0px;
        text-align: left;
    }

.Section-one p{
        height: 0%;
        padding: 30px;
    }

.Section-one img{
        width: 250px;
        padding: 15px;
    }

.Section {
    background-color: grey;
    text-align: center;
}

.Section-A {
    padding: 10px;
    margin: 10px;
    width: 100%;
    justify-content: center;

}

.Section-B {
    padding: 10px;
    margin: 10px;
    width: 100%;
    justify-content: center;

}

.footer {
    height: 30px;
    line-height: 100px;
    background-color: rgba(204, 205, 205, 0.765); width: 100%; font-size: 90px;
    color: rgb(8, 145, 145);
    text-align: center;
    font-weight: 10;
}

